<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579704311091-obkv9g6qto9fkuabch75q2th31sn5513.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579704311091-obkv9g6qto9fkuabch75q2th31sn5513</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyXQowosi5GKkHehfcctL0lNfSizTTEo</string>
	<key>GCM_SENDER_ID</key>
	<string>579704311091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pandekar.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-43131</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-43131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579704311091:ios:0f208d803d1ddc02b44246</string>
</dict>
</plist>